* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: 100vw;
    margin: 0;
}

.container {
    border: none;
    border-radius: 10px;
    height: 410px;
    width: 250px;
    background-color: #fff;
}

img {
    width: 220px;
    height: 230px;
    border-radius: 10px;
    padding: a;
    margin: 14px;
}

/* .image {
    display: flex;
    justify-content: center;
    align-items: center;
} */

h3, p {
    text-align: center;
}

.image p {
    margin: 15px 0 0 0;
    color: #a7a7a5;
}